<h1 class="py-2"><%= @restaurant.name %></h1>
<hr>

<div class="details">
  <p>Located in: <%= @restaurant.address %></p>
  <p>Phone no.: <%= @restaurant.phone_number %></p>
  <p>Cuisine: <%= @restaurant.category.capitalize %></p>
</div>

<div class="outer-card">
  <% @restaurant.reviews.each do |review| %>
    <div class="card">
      <p><i class="fas fa-star"></i>: <%= review.rating %>/5</p>
      <p><%= review.content %></p>
    </div>
  <% end %>
</div>

<p><%= link_to "Add a review", new_restaurant_review_path(@restaurant), class:"btn btn-primary btn-sm rounded" %></p>
<p><%= link_to "Back to all restaurants", restaurants_path, class:"btn btn-primary btn-sm rounded" %></p>

<hr>
